.article
  +gutters
  padding-top: $gutterMax

  &__content
    +spacing
    margin: 0 auto
    max-width: $contentWidth

  &__title
    color: $red
    font-size: 6em
    line-height: .9em
    margin: 0 0 .25em
