@use '../setup/vars' as *
@use '../setup/helpers' as *
@use '../setup/typography' as *

.error
  align-items: stretch
  display: flex
  justify-content: center

  &__content,
  &__image
    flex: 0 0 100%

    @media (min-width: $breakpoint-tablet)
      flex: 0 0 50%

  &__content
    +gutters
    align-items: flex-start
    background: $gray
    display: flex
    flex-direction: column
    justify-content: center
    padding-block: calc(var(--spacing) * 2) var(--spacing)
    text-align: left

    a
      @extend %contentLink

  &__image
    img
      height: 100%
      object-fit: cover
      object-position: center
      width: 100%

  &__title
    +scriptTitle

    &
      color: $red
      margin: 0

    @media (min-width: 1px)
      font-size: 24vw

  &__subtitle
    position: relative
    z-index: 2
