footer.footer
  nav.footer--nav
    a(href='/' aria-label='molovo')
      include /icons/_logo.svg
    a(href='/projects') Projects
    a(href='/writing') Writing
    a.footer--nav-link-twitter(href='https://twitter.com/molovo')
      include /icons/_twitter.svg
      span Follow me on Twitter

  nav.footer--copyright
    span &copy; 2012-2017 James Dinsdale
