footer.footer
  nav.footer--nav
    div.footer--nav-left
      a(href='/' aria-label='molovo')
        include /icons/_logo.svg
      a(href='/projects') Projects
      a(href='/writing') Writing
    div.footer--nav-right
      a.footer--nav-link-twitter(href='https://twitter.com/molovo')
        include /icons/_twitter.svg
        span Follow me on Twitter
