.header.screenreader-text
  nav.nav--main
    a(href='#content' title='Skip to Content') Skip to Content

    ul
      li
        a(href='/' aria-label='molovo')
          include /icons/_logo.svg
          | Home
      li
        a(href='/projects') Projects

      li
        a(href='/writing') Writing

      li.footer--nav-link-twitter
        a(href='https://twitter.com/molovo')
          include /icons/_twitter.svg
          span Follow me on Twitter
