extends /layout

block vars
  - var bodyClass = 'page--blog'

block content
  section.intro
    a(href='/')
      include /icons/_logo.svg

  section.post
    article.post--content
      h1= post.title
      block article
