.button
  +unbutton
  align-items: center
  background: transparent
  border: 0
  border-radius: 6px
  color: inherit
  cursor: pointer
  display: inline-flex
  font-size: .875em
  font-weight: 700
  gap: 0
  line-height: $baseline
  justify-content: center
  overflow: hidden
  padding: .25em 1.25em
  position: relative
  text-decoration: none
  // text-transform: uppercase
  transition: background .5s ease, border-color .5s ease, color .5s ease
  white-space: nowrap
  z-index: 1

  &:has(.button__icon--primary)
    gap: .5em

  &::before
    aspect-ratio: 1
    background: $red
    border-radius: 100vw
    content: ''
    display: block
    height: 2em
    left: 0
    position: absolute
    top: 0
    width: 2em
    transition: width .5s ease
    z-index: -1

  &:hover
    color: $white

    &::before
      width: 100%

    .button__icon
      opacity: 1
      transform: translateX(-.5em)

      &-line
        transform: translateX(0)

      &--primary
        opacity: 0

  &__icon
    color: $white
    flex: 0 0 auto
    height: 1.5em
    width: 1.5em
    transform: translateX(-1.25em)
    transition: opacity .5s ease, transform .5s ease
    z-index: 3

    &-line,
    &-arrow
      stroke: currentColor
      stroke-width: 7.5px
      transition: transform .5s ease

    &-line
      transform: translateX(-30em)

    &--primary
      height: 1em
      transform: translateX(-.75em)
      width: 1em

      path
        fill: currentColor

      & + .button__icon
        opacity: 0
        position: absolute
        left: 1.25em
