@use '../setup/vars' as *
@use '../setup/helpers' as *
@use '../setup/typography' as *
@use './script-arrow' as *

=case-study-item-hover
  z-index: 9

  .case-study-item__inner-background,
  .case-study-item__title
    opacity: 1

$padding: clamp($baseline * .5, 2vw, $baseline)

.case-study-item
  --fontSizeMultiplier: 1
  aspect-ratio: .75
  color: $white
  flex: 0 0 auto
  height: 100%
  position: relative
  text-decoration: none

  .menu-case-studies &
    box-shadow: 0 0 3px rgba($black, .3)

  &__link
    +cover
    color: inherit
    display: flex
    flex-direction: column
    text-decoration: none
    transition: transform .5s ease

    &:active,
    &:visited
      color: inherit

    &:hover,
    &:focus
      +case-study-item-hover
      transform: scale(1.05)

  &__background
    +cover(-10%)
    width: 120%
    z-index: 1

    &-wrapper
      +cover
      overflow: hidden
      z-index: 1

  &__background,
  &__content-background
    img
      height: 100%
      object-fit: cover
      object-position: center
      width: 100%

  &__inner
    flex: 1 1
    padding: $padding
    position: relative
    z-index: 2

    &-background
      +cover
      opacity: 0
      transition: opacity .5s ease
      z-index: -1

  &__content
    +cover
    align-items: stretch
    display: flex
    flex-direction: column
    justify-content: flex-end
    // opacity: 0
    padding: $padding
    transition: opacity .5s ease

    .logo
      margin-bottom: auto

    &-background
      +cover
      z-index: -1

  &__title
    +script
    font-size: calc(19vmin * var(--fontSizeMultiplier))
    margin: 0
    opacity: 0
    text-wrap: balance
    transform: rotate(-5deg)
    transition: opacity .5s ease, transform .5s ease
    z-index: 0
    width: 120%

  &__meta
    z-index: 1

  &__client,
  &__role
    display: block

  &__client
    @extend h3
    margin: 0

  &__role
    line-height: 1.25em

.cta-title
  font-weight: normal

  .swash
    z-index: 0

    &::before
      color: $black
      font-size: 3em

  button:hover &
    .swash
      &::before
        color: $red2

.case-study-cta
  +unbutton
  align-items: flex-start
  background: $red2
  display: flex
  flex-direction: column
  height: 100%
  justify-content: flex-end
  padding: $padding
  text-align: left
  transition: background .5s ease, transform .5s ease

  &__title
    margin: auto 0 0

    &::after
      @extend %script-arrow
      display: inline-block
      font-size: 1.5em
      margin-left: .5ch
      opacity: 0
      transform: translate(-.125em, .075em)
      transition: opacity .5s ease, transform .5s ease

  &:hover
    background: color-mix(in srgb, $red2, $black 3.5%)
    transform: scale(1.05)

    .case-study-cta__title
      &::after
        opacity: 1
        transform: translate(.125em, .075em)

    .cta-title
      .swash
        &::before
          color: $red

  &__button
    +unbutton
    font-weight: $weight-medium
    text-decoration: underline
    text-decoration-color: $gray
    text-decoration-thickness: 3px
    text-underline-offset: .1em
