.footer
  +gutters
  align-items: flex-start
  background: $red
  color: $white
  display: grid
  gap: $baseline 0
  grid-template-areas: "contact contact" "nav logo" "attribution attribution"
  grid-template-columns: 1fr auto
  justify-content: space-between
  padding-bottom: $baseline
  padding-top: $gutterMax
  position: relative
  z-index: 2

  @media (min-width: $breakpoint-tablet)
    gap: $gutterMax
    grid-template-areas: "contact logo" "nav attribution"

  .logo
    margin: 0 0 $baseline

  &__contact
    grid-area: contact

  &__logo
    align-items: flex-end
    display: flex
    flex-direction: column
    grid-area: logo

  &__contact-trigger
    +unbutton
    @extend h2
    color: $gray
    display: inline-block
    font-weight: normal
    max-width: 10em
    text-align: left
    transition: color .5s ease

    .cta-title
      .swash
        &::before
          color: $red2

    &:hover
      color: rgba($gray, .5)

      .cta-title
        .swash
          &::before
            color: $red3

  &__nav,
  &__attribution
    line-height: 1.5em

    @media (min-width: $breakpoint-tablet)
      align-self: flex-end

    @media (min-width: $breakpoint-desktop)
      font-size: .75em

  &__nav
    grid-area: nav
    &-list
      align-items: flex-start
      display: flex
      flex-direction: column
      gap: .5em
      list-style: none
      margin: 0 0 ($baseline * 2)

      @media (min-width: $breakpoint-tablet)
        margin: 0

      @media (min-width: $breakpoint-desktop)
        align-items: center
        gap: $baseline
        flex-direction: row
        justify-content: flex-start

    &:hover > ul > li:not(:hover)
      a, button
        color: $red3

    &-link
      +unbutton
      align-items: center
      color: $gray
      display: inline-flex
      gap: .5ch
      text-decoration: underline 1px solid transparent
      transition: color .5s ease

      &:hover
        color: $white

      svg
        color: inherit
        height: auto
        width: 1em

        path
          fill: currentColor

    &-item
      &:hover
        .footer__nav-sublist
          max-width: 20em

    &-sublist
      align-items: center
      display: inline-flex
      flex-wrap: nowrap
      gap: ($baseline * .5)
      justify-content: flex-start
      margin: 0 0 0 ($baseline * .5)
      max-width: 0
      overflow: hidden
      transition: max-width .5s ease
      white-space: nowrap

  &__attribution
    color: $gray
    grid-area: attribution

    @media (min-width: $breakpoint-tablet)
      text-align: right

    br:nth-child(2)
      @media (min-width: $breakpoint-largeMobile)
        display: none
