.header
  +gutters
  align-items: center
  color: $red
  display: flex
  justify-content: space-between
  padding-bottom: ($baseline * .5)
  padding-top: clamp(($baseline * .25), 2vw, ($baseline * 1.5))
  pointer-events: none
  position: fixed
  top: 0
  transition: color .5s ease, transform .5s ease
  width: 100%
  will-change: color, transform
  z-index: 9

  > *
    pointer-events: auto

  &--hidden:not(:focus-within)
    transform: translateY(-100%)

  &--black
    color: $black

  &--red
    color: $red

  &--white,
  &--white-black,
  &--white-red
    color: $white

  &--white-black
    .menu-toggle
      color: $black

  &--white-red
    .menu-toggle
      color: $red

  &[style^="color"]
    .menu-toggle
      color: inherit
