$transitionDuration: 1s
$transitionDelay: .25s

.menu
  align-items: center
  background: $red
  color: $white
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100dvh
  overflow: clip auto
  padding-bottom: var(--spacing)
  padding-top: ($baseline * 4)
  position: fixed
  top: 0
  transition: opacity ($transitionDuration * .5) ease
  width: 100%
  z-index: 8

  &[aria-hidden="true"]
    opacity: 0
    pointer-events: none

  &[aria-hidden="false"]
    .menu__link,
    .menu__secondary-link
      pointer-events: auto

  // &::before
  //   +cover
  //   background: $red2
  //   content: ''
  //   display: block
  //   transform: translateX(100%)
  //   transition: transform 1s ease

  // &:has(.menu__studies[aria-hidden="false"])
  //   &::before
  //     transform: translateX(0)

  @media (orientation: landscape)
    flex-direction: row

  @media (min-width: $breakpoint-tablet) and (min-height: 50em)
    padding-top: ($baseline * 5)

  &__main
    +gutters
    display: flex
    flex-direction: column
    margin: 0 0 ($baseline * 2)
    position: relative
    transition: transform $transitionDuration ease
    width: 100%

    @media (orientation: landscape)
      flex: 0 0 100%
      height: 100%
      margin: 0
      width: 100%

    &[aria-hidden="true"],
    .menu[aria-hidden="true"] &
      .menu__item,
      .menu__secondary
        opacity: 0
        transform: translateX(-6em)

      .menu__item
        @for $i from 1 through 3
          &:nth-child(#{$i})
            transition-delay: (($transitionDuration / 10) * (4 - $i))

      .menu__secondary
        transition-delay: (($transitionDuration / 10) * 0)

  &__items
    list-style: none
    margin: auto 0
    pointer-events: none

    &:hover
      .menu__link:not(:hover)
        color: $red2

  &__item
    transition: opacity ($transitionDuration * .75) ease, transform ($transitionDuration * .75) ease

    @for $i from 1 through 3
      &:nth-child(#{$i})
        transition-delay: $transitionDelay + (($transitionDuration / 10) * ($i - 1))

  &__link
    +unbutton
    +script
    color: inherit
    font-size: 7.5vmax
    line-height: 1.25em
    margin: 0
    text-decoration: none
    transition: color .5s ease

  &__secondary
    align-items: flex-start
    display: flex
    flex-direction: column
    list-style: none
    margin: 0
    transition: opacity ($transitionDuration * .75) ease, transform ($transitionDuration * .75) ease
    transition-delay: $transitionDelay + (($transitionDuration / 10) * 4)

    &:hover
      .menu__secondary-link:not(:hover),
      .social__label
        color: $red2

    @media (orientation: landscape)
      align-items: center
      flex-direction: row
      gap: $baseline

    &-link
      +unbutton
      color: inherit
      display: inline-flex
      font-size: .875em
      font-weight: $weight-medium
      gap: .625ch
      text-decoration: none
      transition: color .5s ease

      svg
        color: inherit
        width: 1em

        path
          fill: currentColor

  &__studies
    +gutters
    align-items: flex-start
    display: flex
    flex: 0 0 auto
    flex-direction: column
    position: relative
    transition: opacity $transitionDuration $transitionDelay ease, transform $transitionDuration $transitionDelay ease
    width: 100%

    @media (min-width: $breakpoint-tablet)
      flex: 0 0 100%
      height: 100%

    @media (orientation: landscape)
      transform: translateX(-50vw)

      .menu[aria-hidden="true"] &
        transform: translateX(calc(-50vw + 6em))
        opacity: 0

      .menu &[aria-hidden="false"]
        transform: translateX(-100%)
        transition-delay: 0

        .menu__studies-list
          overflow-x: auto

        .menu__studies-item
          opacity: 1

        .menu__studies-progress
          opacity: 1
          pointer-events: all

    .menu &[aria-hidden="true"]
      .menu__studies-item
        &:first-child
          +case-study-item-hover

    &-list
      +gutters
      +hideScrollbars
      +scrollGutters
      display: flex
      flex: 1 1
      gap: clamp($baseline, 3vw, $baseline * 2)
      left: 50%
      list-style: none
      overflow-x: auto
      margin-block: ($baseline * -1)
      padding-block: ($baseline * 2)
      position: relative
      scroll-snap-type: x proximity
      transform: translateX(-50%)
      transition: scroll-snap-type 0s .5s linear
      width: 100vw

      @media (orientation: landscape)
        overflow-x: hidden

      &--scrolling
        .menu__studies-item
          pointer-events: none

    &:has(.menu__studies-progress:active)
      .menu__studies-list
        scroll-behavior: smooth
        scroll-snap-type: none
        transition: none

    &-progress
      appearance: none
      background: 0
      cursor: grab
      font-size: 1em
      height: 1.5em
      opacity: 0
      pointer-events: none
      position: absolute
      right: var(--gutter)
      top: calc(100% - 1.4em)
      transition: opacity .5s ease
      width: calc(100% - (var(--gutter) * 2) - 12em)

      &:active
        cursor: grabbing

      @each $suffix in -webkit-slider-track, -moz-range-track, -ms-track
        &::#{$suffix}
          appearance: none
          background: $red2
          border: 0
          border-radius: 0
          cursor: pointer
          height: 3px
          margin: 0
          width: 100%

      @each $suffix in -webkit-slider-thumb, -moz-range-thumb, -ms-thumb
        &::#{$suffix}
          appearance: none
          background: $white
          border: 0
          border-radius: 0
          height: 3px
          margin: 0
          width: 1em

    &-title,
    &-trigger
      flex: 0 0 auto

    &-title
      font-family: $font-secondary
      font-size: 1.5em
      font-weight: $weight-bold
      margin: 0

    &-trigger
      +unbutton
      font-family: $font-primary
      font-size: .875em
      font-weight: $weight-medium
      order: 9
      transition: color .5s ease
      z-index: 3

      &:hover
        color: $black

      @media (orientation: portrait)
        display: none

    &-item
      scroll-snap-align: start
      scroll-snap-stop: normal
      transition: opacity .5s ease

      @media (max-width: $breakpoint-largeMobile)
        height: auto
        width: calc(100% - #{$baseline})

      &[aria-current="true"]
        @media (max-width: $breakpoint-desktop)
          +case-study-item-hover

      @media (orientation: landscape)
        .menu &:not(:first-child)
          opacity: 0

//       &:hover
//         opacity: 1 !important
