$size: 2.25em

.social-sharing
  --social-sharing-background: var(--background)
  --social-sharing-color: var(--color)
  --social-sharing-accent: var(--social-sharing-color)
  --social-sharing-accent-two: var(--social-sharing-background)

  bottom: clamp($gutterMin, 6vw, $gutterMax)
  flex: 0 0 100%
  height: $size
  left: 0
  margin-block: $baseline
  order: 9
  position: static
  transition: opacity .5s .5s ease
  width: $size
  z-index: 9

  .case-study__section-content:has(.content-figure--full-width:last-child) > &
    margin-bottom: var(--spacing)

    @media (max-width: $contentBreakpoint)
      display: none

  @media (min-width: $contentBreakpoint)
    flex: 0 0 auto
    margin-block: 0
    margin-right: ($size * -1)
    order: unset
    position: sticky

  // @media (max-width: $breakpoint-desktop)
  //   display: none

  &[aria-hidden="true"]
    opacity: 0

  &__inner
    background: var(--social-sharing-accent)
    border-radius: 100vw
    bottom: 0
    color: var(--social-sharing-accent-two)
    display: inline-flex
    flex-direction: row
    height: $size
    left: 0
    position: relative
    transition: color .5s ease, background .5s ease
    width: auto

    @media (min-width: $contentBreakpoint)
      flex-direction: column-reverse
      height: auto
      position: absolute
      width: $size

    &::before
      +cover
      border: 1px solid var(--social-sharing-color)
      border-radius: 100vw
      content: ''
      display: block
      opacity: 0
      pointer-events: none
      transition: background .5s ease, opacity .5s ease
      z-index: 0

    &::after
      background: var(--social-sharing-accent)
      border-radius: 100vw
      content: ''
      display: block
      height: ($size * .75)
      opacity: 0
      position: absolute
      right: ($baseline * .215)
      top: 50%
      transform: translate(-12em, -50%)
      transition: opacity .25s ease-out, transform .25s .25s ease
      width: ($size * .75)
      z-index: 0

      @media (min-width: $contentBreakpoint)
        left: 50%
        right: auto
        top: ($baseline * .215)
        transform: translate(-50%, 12em)

    @for $i from 1 through 10
      &:has(.social-sharing__item:nth-child(#{$i}):hover)
        &::after
          opacity: 1
          transform: translate((($i - 1) * ($size * -.75)), -50%)
          transition: opacity .25s .25s ease-in, transform .25s ease

          @media (min-width: $contentBreakpoint)
            transform: translate(-50%, (($i - 1) * ($size * .75)))

    @media (min-width: $contentBreakpoint)
      &:hover
        background: var(--social-sharing-background)
        color: var(--social-sharing-color)

        .social-sharing__items
          max-height: 20em
          padding: 0 ($baseline * .215)

          @media (min-width: $contentBreakpoint)
            padding: ($baseline * .215) 0

        .social-sharing__item
          opacity: 1

        &::before,
        .social-sharing__trigger::before
          opacity: .2

    @media (max-width: $contentBreakpoint)
      background: var(--social-sharing-background)
      color: var(--social-sharing-color)

      .social-sharing__items
        max-height: 20em
        padding: 0 ($baseline * .215)

        @media (min-width: $contentBreakpoint)
          padding: ($baseline * .215) 0

      .social-sharing__item
        opacity: 1

      &::before,
      .social-sharing__trigger::before
        opacity: .2

  &__trigger
    +unbutton
    align-items: center
    display: flex
    height: $size
    justify-content: center
    position: relative
    width: $size
    z-index: 2

    &::before
      background: var(--social-sharing-color)
      bottom: 50%
      content: ''
      display: block
      height: 1.5em
      left: 100%
      opacity: 0
      position: absolute
      transform: translateY(50%)
      transition: opacity .5s ease
      width: 1px

      @media (min-width: $contentBreakpoint)
        bottom: 100%
        height: 1px
        left: 50%
        transform: translateX(-50%)
        width: 1.5em

  &__items
    align-items: center
    display: inline-flex
    flex: 0 0 auto
    flex-direction: row-reverse
    height: $size
    justify-content: flex-start
    list-style: none
    margin: 0
    max-height: 0
    overflow: visible clip
    transition: max-height .5s ease, max-width .5s ease, padding .5s ease
    width: auto
    z-index: 2

    @media (min-width: $contentBreakpoint)
      flex-direction: column
      height: auto
      justify-content: center
      width: $size

  &__item
    flex: 0 0 auto

    @media (min-width: $contentBreakpoint)
      opacity: 0
      transition: opacity .5s ease

  &__button
    +unbutton
    align-items: center
    background: transparent
    border-radius: 100vw
    color: inherit
    display: flex
    height: ($size * .75)
    justify-content: center
    position: relative
    transition: color .5s ease, background .5s ease
    width: ($size * .75)

    &:hover
      // background: var(--social-sharing-color)
      color: var(--social-sharing-accent-two)

  svg
    color: inherit
    display: block
    height: ($size * .375)
    width: ($size * .375)

    path
      fill: currentColor

  &__tooltip
    background: var(--social-sharing-color)
    border-radius: 3px
    color: var(--social-sharing-background)
    font-size: .625em
    left: calc(100% + 1em)
    line-height: $baseline
    padding: 0 ($baseline * .25) .1em
    position: absolute
    top: 50%
    transition: opacity .5s ease, transform .5s ease
    transform: translate(0, -50%)
    white-space: nowrap

    &::before
      border: .3em solid
      border-color: transparent var(--social-sharing-color) transparent transparent
      content: ''
      display: block
      position: absolute
      right: 100%
      top: 50%
      transform: translateY(-50%)

    &[aria-hidden="true"]
      opacity: 0
      pointer-events: none
      transform: translate(-.75em, -50%)
