extends layout

block vars
  - var title = 'molovo'
  - var bodyClass = 'page--home'

block content
  section.intro
    a(href='/' aria-label='molovo')
      include /icons/_logo.svg

    :marked
      Hi, I'm James. You might have heard of me, but since you probably haven't, let me tell you a little about myself.

      I'm the developer behind [Zulu](https://zulu.sh), [Phillip](https://philliphq.github.io) and [Pug](https://github.com/pugphp/pug), as well as [some other cool projects](/projects). When I'm not up in the middle of the night writing code, you can find me [talking rubbish on Twitter](https://twitter.com/molovo).

      If you'd like to hire me, see some of my client work, or talk about the weather, send me an email at [hi@molovo.co](mailto:hi@molovo.co). I might even reply.
