block vars

doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title= _path

    != css('/')

    script
      include ../assets/js/includes/_fonts.js

  body(class=bodyClass)
    block content

    include /includes/_footer

    != js('/')

    script(src='https://use.typekit.net/mmt3fau.js')
    script try{Typekit.load({ async: true });}catch(e){}
