extends layout

block vars
  - var title = 'Projects | molovo'
  - var bodyClass = 'page--projects'

block content
  section.intro
    a(href='/' aria-label='molovo')
      include /icons/_logo.svg

    h1 Projects

  section.projects
    nav.projects--filter
      a.active(href='#' data-target='all') All
      a(href='#' data-target='Shell') ZSH
      a(href='#' data-target='PHP') PHP
      a(href='#' data-target='Crystal') Crystal
      a(href='#' data-target='CoffeeScript') CoffeeScript
      a(href='#' data-target='JavaScript') JavaScript

    nav.projects--list
      each project in projects
        a(href="https://github.com/"+project class="projects--list-item" data-repo=project target="_blank")
          h4
            span(data-owner)
            span /
            span(data-name)
          p(data-description)
          div.projects--list-item-meta
            span.projects--list-item-meta_language
              span.projects--list-item-meta-icon ●
              span(data-language)
            span.projects--list-item-meta_stars
              span.projects--list-item-meta-icon
                include /icons/_star.svg
              span(data-stars)
            span.projects--list-item-meta_forks
              span.projects--list-item-meta-icon
                include /icons/_fork.svg
              span(data-forks)
