extends layout

block vars
  - var title = 'Writing | molovo'
  - var bodyClass = 'page--writing'

block content
  section.intro
    a(href='/' aria-label='molovo')
      include /icons/_logo.svg

  section.posts
    .posts--list
      - for article in sort(site.writing)
        article.posts--list-item
          header
            //- a(href=article._url)
            h1= article.title
            date= date(article.date)

          != article.content

          footer.posts--list-share
            a(href='http://twitter.com/share?text=I just read this article on molovo.co and you should too :: &url=https://molovo.co#{article._url}' title='Share on Twitter' target='_blank')
              include /icons/_twitter.svg
              | Share on Twitter

        hr.posts--list-break

