extends layout

block vars
  - var title = 'Writing | molovo'
  - var bodyClass = 'page--writing'

block content
  section.intro
    a(href='/')
      include /icons/_logo.svg

  section.posts
    ul.posts--list
      - for article in sort(site.writing)
        li.posts--list-item
          a(href=article._url)
            h3= article.title
