---
title: Bringing Foxy Back
slug: vixen-fitness
client: Vixen Fitness
order: 0
intro: I helped Vixen Fitness explode onto the Southsea Fitness scene
url: https://vixenfitness.co.uk
layout: study
---

<section class="study__section study__section--{{ page.slug }} study__section--intro">
  {% include study/intro.html title=page.title slug=page.slug client=page.client %}

  <div class="study__content">
    <div class="post__content">
      <p>Gemma is a personal trainer, specialising in pre- and post-natal fitness, and using exercise as a way to boost self-esteem and body confidence. She came to me just as she was launching her new, as-yet-unnamed business, and was looking for guidance to help her get it off the ground.</p>

      <p>Launching a brand-new business in a busy space is always a challenge, so Gemma tasked me with coming up with a name, brand and website package which would help her to stand out.</p>

      <p>Before I could do any design work, we needed to come up with a name for this new venture. When Gemma and I sat down to discuss options, it wasn't long before we had uncovered two key points which needed to be addressed:</p>

      <ol class="study__feature-list">
        <li>Since Gemma’s client base is predominantly women, we needed something that was unmistakably feminine.</li>
        <li>At the same time, it needed to convey the strength and body confidence that her clients aspire to.</li>
      </ol>

      <p>After throwing around a few abstract ideas, we both came to the same conclusion; The flowing form of the vixen&mdash;a well-known metaphor for female beauty&mdash;seemed like the perfect fit, and the name Vixen Fitness was born.</p>

      <figure class="image image--full-width">
        {% include icons/studies/vixen-fitness/vixen-vertical-white-bg.svg %}
        {% include icons/studies/vixen-fitness/vixen-vertical-plum-bg.svg %}
        {% include icons/studies/vixen-fitness/vixen-vertical-yellow-bg.svg %}
        <figcaption class="image__caption">The different variations of the Vixen Fitness logo</figcaption>
      </figure>

      <p>For the Vixen Fitness logo, I used a simple icon of a vixen, with a long, flowing curve to symbolise its tail. Used with a bold, all-caps logotype, it really nailed the balance of strength and femininity that we were looking for.</p>
    </div>

    {% include social.html post=page %}
  </div>
</section>

<section class="study__section study__section--{{ page.slug }} study__section--typography">
  {% include study/intro.html title='Strength & Femininity' slug=page.slug client=page.client %}

  <div class="study__content">
    <div class="post__content">
      <p>The strong, unapologetic boldness of Montserrat was so effective as a logotype that I decided to use it as the primary font for the website and Gemma's marketing materials. Using multiple weights meant we could strike a nice balance between huge, bold headings and a cleaner, lighter weight for more readable body copy.</p>

      <figure class="study__type-sample study__type-sample--montserrat">
        <span>crunch growth skinny isometrics fitness protein <span class="study__type-sample__font-name">Montserrat Bold</span> lift pull muscles dip fat diet press hamstring</span>
      </figure>

      <p>To counter Montserrat's strength I used Have Heart One to add a touch of femininity to headings and other brand assets.</p>

      <figure class="study__type-sample study__type-sample--have-heart-one">
        <span>lift pull muscles dip fat diet press hamstring biceps energy <span class="study__type-sample__font-name">Have Heart One</span> shape aerobic crunch growth skinny isometrics fitness protein</span>
      </figure>

      <p>Gemma meets most of her clients face to face, but handing over a business card doesn't really convey everything that she has to offer. To help her make a good impression, I designed a series of postcards to give to clients and hand out at events; each one providing more information about particular services she provides, allowing her to put the right information in front of prospective clients from the outset, and hopefully win their business.</p>

      <figure class="image image--slideshow image--flyers">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img data-action="zoom" src="/img/studies/vixen-fitness/ante-natal-flyer-front.svg" />
            </div>
            <div class="swiper-slide">
              <img data-action="zoom" src="/img/studies/vixen-fitness/ante-natal-flyer-back.svg" />
            </div>
            <div class="swiper-slide">
              <img data-action="zoom" src="/img/studies/vixen-fitness/post-natal-flyer-front.svg" />
            </div>
            <div class="swiper-slide">
              <img data-action="zoom" src="/img/studies/vixen-fitness/post-natal-flyer-back.svg" />
            </div>
          </div>
          <span class="swiper-button-prev">
            {% include icons/chevrons-left.svg %}
          </span>
          <span class="swiper-button-next">
            {% include icons/chevrons-right.svg %}
          </span>
        </div>

        <figcaption class="image__caption">
          <strong><span class="swiper-current">1</span> of 4</strong> &mdash;
          The series of postcards I designed for each of Gemma's services
        </figcaption>
      </figure>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure quaerat nostrum praesentium tempore laboriosam nobis eveniet cupiditate deleniti earum nisi perspiciatis explicabo eum ullam, qui adipisci dolorum minus dolore illo.</p>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure quaerat nostrum praesentium tempore laboriosam nobis eveniet cupiditate deleniti earum nisi perspiciatis explicabo eum ullam, qui adipisci dolorum minus dolore illo.</p>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure quaerat nostrum praesentium tempore laboriosam nobis eveniet cupiditate deleniti earum nisi perspiciatis explicabo eum ullam, qui adipisci dolorum minus dolore illo.</p>

      <figure class="image image--pull-left">
        <div class="image__pair">
          <img src="/img/studies/vixen-fitness/place-cards.jpg" />
          <img src="/img/studies/vixen-fitness/business-cards.jpg" />
        </div>

        <figcaption class="image__caption">(left) a set of place cards for circuit classes; (right) Gemma's business cards</figcaption>
      </figure>
    </div>

    {% include social.html post=page %}
  </div>
</section>
