.page--study
  padding: 0

  .footer,
  .contact
    margin: 0

.studies
  &__item
    align-items: flex-end
    display: flex
    padding: 0 0 6em

  &__content
    flex: 0 0 70%
    margin-bottom: #{$baseline * .25}
    width: 70%

  .study__icons
    .logo--frame,
    .octicon--plus polygon,
    .study__icon path
      fill: $color-almost-black

  &__image
    align-items: flex-end
    display: flex
    flex: 0 0 50vw
    height: 50vw
    width: 50vw

    svg
      margin-top: auto
      width: 100%

  &__title
    +font-secondary

  &__item:nth-child(2n)
    justify-content: flex-start

    .studies__content
      margin-right: #{$baseline * 2}

    .studies__image
      margin-right: -50vw

  &__item:nth-child(2n+1)
    justify-content: flex-end

    .studies__content
      margin-left: #{$baseline * 2}
      order: 1

    .studies__image
      margin-left: -50vw

.study
  &__intro
    padding: 6em 1.5em 0
    position: relative

    @media (min-width: 42em)
      padding: 6em between(1.5em, 6em, 42em, 80em) 0

    @media (min-width: 80em)
      padding: 6em 6em 0

  &__icons
    margin: 0 0 $baseline
    text-decoration: none

    .logo
      height: $baseline

    .octicon--plus
      height: $baseline
      margin: 0 $baseline
      width: $baseline

      polygon
        fill: $color-white

  &__icon
    height: auto
    vertical-align: baseline
    width: #{1.5 * $baseline}

    &--1855
      transform: scale(1.25)
      transform-origin: center

    path
      fill: $color-white

  &__title
    color: $color-white
    margin: 12em 0 3em

    h1
      +script
      font-size: 23vw
      margin: 0
      text-align: left

  &__content
    align-items: flex-start
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0 1.5em 6em

    @media (min-width: 42em)
      flex-wrap: nowrap
      padding: 0 between(1.5em, 6em, 42em, 80em) 6em

    @media (min-width: 80em)
      padding: 0 6em 6em

  &__type-sample
    background: $color-white
    left: 50vw
    margin: #{$baseline * 2} 0 #{$baseline * 2} -1.5em
    text-align: center
    transform: translateX(-50%)
    position: relative
    width: 125vw
    z-index: 1001

    @media (min-width: 42em)
      margin-left: between(-1.5em, -6em, 42em, 80em)

    @media (min-width: 80em)
      margin-left: -6em

    @media (min-width: 42em)
      &::after,
      &::before
        content: ''
        display: inline-block
        height: 9em
        left: between(40em, 44.5em, 42em, 80em)
        margin-left: 12.5vw
        right: 0
        pointer-events: none
        position: absolute

      &::before
        background: linear-gradient(to bottom, rgba($color-white, 0), $color-white 66.66%, $color-white)
        bottom: 100%

      &::after
        background: linear-gradient(to top, rgba($color-white, 0), $color-white 66.66%, $color-white)
        top: 100%

  &__feature-list
    list-style: none

    li
      margin: 0 #{$baseline * 3}
      padding: $baseline 0 $baseline #{$baseline * 3}
      position: relative

      @for $var from 1 through 10
        &:nth-of-type(#{$var})
          &::before
            content: '#{$var}. '
            display: inline-block
            float: left
            font-size: 3em
            left: 0
            position: absolute
            top: 50%
            transform: translateY(-50%)
            +font-script
