<article class="post post--{{ include.post.slug }} {{ include.classes }}"
         aria-labelledby="{{ include.post.title | slugify }}-title"
         {% if include.listing == 'true' %}itemprop="blogPost"{% endif %}
         itemscope
         itemtype="http://schema.org/BlogPosting"
         {% if include.listing == 'false' %}id="article"{% endif %}
         {% if include.listing == 'true' %}id="{{ include.post.title | slugify }}"{% endif %}
         data-title="{{ include.post.title }}">
  <link itemprop="mainEntityOfPage" href="{{ site.url }}{{ include.post.url | replace: 'index.html', '' }}" />
  {% if include.post.image %}
    <link itemprop="image" href="{{ site.url }}{{ include.post.image.url }}" />
  {% else %}
    <link itemprop="image" href="{{ site.url }}{{ site.logo }}" />
  {% endif %}
  <header class="post__header">
    <div class="post__header-wrapper">
      {% if include.post.image %}
        <figure class="image post__header-image">
          {% responsive_image_block %}
            path: {{ include.post.image }}
            alt: {{ include.post.imageAltText }}
            sizes: 100vw
          {% endresponsive_image_block %}
        </figure>
      {% endif %}

      {% if include.listing == 'true' %}
        <h1 itemprop="headline"
            class="post__title p-name"
            id="{{ include.post.title | slugify }}-title">
          <a href="{{ include.post.url }}"
            class="post__link u-url u-uid"
            title="{{ include.post.title }}">
            <span>{{ include.post.title }}</span>
          </a>
        </h1>
      {% else %}
        <h1 itemprop="headline"
            class="post__title p-name"
            id="{{ include.post.title | slugify }}-title">
          <span>{{ include.post.title }}</span>
        </h1>
      {% endif %}

      <div class="post__meta">
        <span>Published on</span>&nbsp;
        <date itemprop="datePublished"
              content="{{ include.post.date | date_to_xmlschema }}"
              class="post__date dt-published">
          {{ include.post.date | date: '%e' }}{{ include.post.date | date_to_xmlschema | ordinal }} {{ include.post.date | date: '%B %Y' }}
        </date>
      </div>

      {% if include.post.tags %}
        <h6 class="screenreader-text">Tags:</h6>
        <ul class="post__tags">
          {% for tag in include.post.tags %}
            <li class="post__tag"><a href="/tag/{{ tag | slugify }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      <meta itemprop="dateModified" content="{{ include.post.date | date_to_xmlschema }}">
      <div itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{ site.author }}" />
        <link itemprop="url" href="{{ site.url }}" />
      </div>
      <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ site.name }}" />
        <link itemprop="url" href="{{ site.url }}" />
        <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
          <link itemprop="url" href="{{ site.url }}{{ site.logo }}" />
          <meta itemprop="representativeOfPage" content="false" />
          <meta itemprop="height" content="60" />
          <meta itemprop="width" content="323" />
        </div>
      </div>
    </div>
  </header>

  <section itemprop="articleBody"
           class="post__content e-content">
    {{ include.post.content | markdownify | improve }}
  </section>

  {% include social.html post=include.post %}
</article>
