<footer class="footer">
  <nav class="footer--nav">
    <a href="#top" class="screenreader-text">Back to Top</a>
    <ul>
      <li>
        <a href="/" aria-label="molovo">
          {% include icons/logo.svg %}
          <span class="screenreader-text">Home</span>
        </a>
      </li>
      
      <li>
        <a href="/studies/">Studies</a>
      </li>
      
      <li>
        <a href="/projects/">Projects</a>
      </li>

      <li>
        <a href="/writing/">Writing</a>
      </li>

      <li class="footer--nav-link-twitter">
        <a href="https://twitter.com/molovo">
          {% include icons/twitter.svg %}
          <span>Follow me on Twitter</span>
        </a>
      </li>
    </ul>

    <div class="footer--copyright">
      <span>&copy; 2012-2017 James Dinsdale. <a href="https://github.com/molovo/www/blob/master/{{ page.path }}" title="Improve this page"
        target="_blank"
        rel="noopener nofollow">Improve this page</a></span>
    </div>
  </nav>
</footer>
