<nav class="nav nav--main"
     id="menu">
  <a href="#content"
    title="Skip to Content"
    class="screenreader-text">
    Skip to Content
  </a>

  <ul class="nav__menu">
    <li class="nav__item nav__item--home">
      <a href="/"
         aria-label="molovo">
        {% include icons/logo.svg %}
        <span class="screenreader-text">Home</span>
      </a>
    </li>
    
    <li class="nav__item nav__item--case-studies">
      <a href="/studies/"
          class="nav__link">
        Case Studies
      </a>
    </li>

    <li class="nav__item nav__item--open-source">
      <a href="/projects/"
         class="nav__link">
        Open Source
      </a>
    </li>

    <li class="nav__item nav__item--writing">
      <a href="/writing/"
          class="nav__link">
        Writing
      </a>
    </li>

    <li class="nav__item nav__item--search">
      <a href="/search/"
          class="nav__link">
        Search
      </a>
    </li>

    <li class="screenreader-text">
      <a href="https://twitter.com/molovo">
        {% include icons/twitter.svg %}
        <span>Follow me on Twitter</span>
      </a>
    </li>
  </ul>
</nav>

<header class="header"
        id="top">
  <nav class="top-nav">
    <a href="#menu"
       class="nav-toggle"
       id="nav-toggle">
      <span class="screenreader-text">Menu</span>
      {% include icons/menu.svg %}
    </a>
  </nav>
</header>
