{% capture srcset %}
{% for i in resized %}
    /{{ i.path }} {{ i.width }}w,
{% endfor %}
{% endcapture %}

{% capture srcset-webp %}
{% for i in resized %}
    {{ i.dirname }}/{{ i.filename }}.webp {{ i.width }}w,
{% endfor %}
{% endcapture %}

{% assign smallest = resized | sort: 'width' | first %}
{% assign largest = resized | sort: 'width' | last %}

<picture>
    <source type="image/webp"
            srcset="{{ smallest.dirname }}/{{ smallest.filename }}.webp"
            data-srcset="{{ srcset-webp | strip_newlines }}"
            alt="{{ alt }}"
            sizes="{{ sizes }}"
            onerror="this.parentNode.removeChild(this);" />
    <source srcset="/{{ smallest.path }}"
            data-srcset="{{ srcset | strip_newlines }}"
            alt="{{ alt }}"
            sizes="{{ sizes }}" />
    <img src="/{{ smallest.path }}"
         data-src="/{{ largest.path }}"
         alt="{{ alt }}" />
</picture>

<noscript>
    <img src="/{{ largest.path }}"
         alt="{{ alt }}" />
</noscript>