---
title:  "Holding back the years"
date:   2012-12-19 01:33:29
---

extends /layouts/_article

block article
  :marked
    A few weeks ago, a friend asked me a very important question:

    > How did you get into design? Like, **what was the first thing you ever designed**?

    Think about this yourself, it's not as easy as you might imagine.

    I immediately answered that I made my first website aged 19, and it's true, that is definitely the first thing I ever received any kind of payment for. But it's not the first *thing* I designed, for that I have to go back much further.

    For instance, at age 16 I was studying an engineering apprenticeship, and as part of that I made a spring loaded centre. It's a tool used as a guide when tapping the thread of a bolt on a lathe. I designed and made it by hand, and still occasionally use it to this day when making guitar parts.

    When I was 14, I designed and built my own bedroom furniture, out of the offcuts of wood that can be had for free outside of Ikea stores. This isn't a tale of a tough childhood, I simply had an awkward sized room, and the best solution was a custom built one. Both my father and Grandfather were big DIY fans, and from a young age they taught me to do things for myself as much as I can, in order to learn new skills. So I did, and I ended up being able to fit far more storage in that room than I would have been able to with "off the shelf" solutions, all for next to no cost.

    Aged 11, I helped my father design and make a series of wooden planting boxes as a present to my mother for her birthday. Again, these were custom designed, and made to fit perfectly into the spaces around the deck we had in our garden when I was a kid.

    Back still further, at 8, I used Lego to design and build a giant model of a multi-storey car park, in an attempt to get myself featured in Lego UK magazine.

    Where am I going with this? At the time, I didn't consider any of these things "design", but they were. In each instance, I had a problem, and I was able to come up with a finished product that solved it, whilst at the same time considering the cost and time taken to make it, and the reliability of the solution.

    What the simple question above made me realise is that design is not something I just chose to do. In fact, I have been designing things in some way or another since the day I was born, honing my skills and learning from mistakes my whole life. I've never had any formal education in design, much like I haven't in woodwork or building Lego car parks, but perseverance, and taking the time to study and learn the craft, *that's* what got me to the position I am in today.

    So, the first thing I can remember designing was a card for my parents, that I made at four years old, in the middle of the night, whilst waiting for them to return from hospital on Christmas morning after the birth of my little brother. That was the first thing I designed, and as I can still remember the smile on my mother's face now, I think it's probably one of my best.

    So tell me; *What was the first thing you ever designed?*
