---
title:  "How to start a successful software company"
date:   2013-07-13 19:57:15
redirectURL: "https://medium.com/@molovo/how-to-start-a-successful-software-company-4698ba3af3d9"
---

extends /layouts/_article

block article
  :marked
    [*Published on Medium*]({{ page.redirectURL }})
