---
title: "Sincerely Yours, A Pissed-Off Web Developer"
date: 2013-11-25 12:00:00
---

extends /layouts/_article

block article
  :marked
    Dear Apple,

    It's been six fucking years. If you're not going to fix WebKit on iOS, for God's sake stop blocking other people from implementing their own version that actually works. Even IE6 could implement CSS backgrounds correctly. **You're shit**.

    Sincerely yours,

    A pissed off web developer.

    ---

    Dear Google,

    I don't know why you felt the need to destroy Chrome with the last two updates, but Dev Tools are now completely unusable. If I wanted to use guesswork to help me develop sites I'd still be using fucking Notepad. **You're shit**.

    Sincerely yours,

    A pissed off web developer.

    ---

    Dear Mozilla,

    Why in the name of all that is the internet does Firefox need so much memory? Are you secretly trying to cache the entire fucking internet in my RAM? **You're shit**.

    Sincerely yours,

    A pissed off web developer.

    ---

    Dear Opera,

    Have you ever even heard of a web font? I mean, seriously, how can they *not* work. **You're shit**.

    Sincerely yours,

    A pissed off web developer.

    ---

    Dear Microsoft,

    IE11 is actually really fucking good. *Well fucking done*. But your marketing tactics are lower than low. **You're shit**.

    Sincerely yours,

    A pissed off web developer.
