---
title:  "Recruitment is broken, let's fix it"
date:   2013-07-29 11:42:26
---

extends /layouts/_article

block article
  :marked
    <small><em>I can't speak for the issues in the job markets of other countries, so this is aimed mainly at recruiters in the UK.</em></small>

    Job adverts in the UK come with a veil of secrecy.

    <p style="color: rgb(71,81,91); font-weight: 400; padding: .75rem 1.5rem 1.5rem; border: 1px solid rgb(71,81,91); border-radius: .25rem;">A <em><strong>market leader</strong></em> wants a <em><strong>model professional</strong></em> to work on <em><strong>high-profile projects</strong></em> for a <em><strong>competitive salary</strong></em>.</p>

    As soon as I see this I navigate away. The only reason that these generic terms are used is to protect the recruiters' bottom line. If I could see which company was advertising the job, I could approach them directly, meaning that the recruiter loses their cut. So the information is masked, which poses a number of problems for me:

    #### I don't care that your company is a market leader.

    I don't yet know what the market is, so it's completely irrelevant. Give me the name of your company, and I'm going to research you before I apply anyway. When I do that, I'll see that you're a market leader, I'll see why, and I'll see how you achieved it.

    But more importantly, I'll see what the working environment is like; whether the people in the team are the sort of people I'd get on with; whether I'd be a good fit; whether I agree with your company's goals on a moral or ethical level. If any of the above are an issue, hiding it until after I've applied wastes my time and yours, and that benefits no one.

    #### What exactly is a model professional?

    Everyone's definition is different. Tell me exactly what qualities you value as a company, and I'll tell you how I fit in with that ethos. I don't want to spend 2 hours writing a cover letter only to be told that I don't fit your company's mentality. Given the chance, I can work that out myself.

    #### How high is high?

    What are the high-profile projects you're referring to? Give me an example or three. Get me excited about working for your company. Make me feel as though time spent working at your company would be a privilege, and a foundation on which I can build a successful career.

    #### What am I competing against?

    A competitive salary could mean any number of things. Is the salary competitive only when compared against the average salary for the area? Or how about the average salary within that specific field of expertise? Or maybe even against other employees within your company?

    I know how much I'm worth, and I want to know if you value my skills at the same or a similiar level. Give me a number. Give me an idea of where that number sits within the structure of your organisation. I don't want to be resented by my colleagues because I earn more than them, neither do I want to be underpaid for skills and knowledge I've spent a long time acquiring.

    #### If you want the best candidate, *write the best advert*.

    Tell potential applicants what you actually *want*, and what they'll get in return, and only those who match it will apply. When I apply for a job, I'm not going to leave half of my skills out, in the hope that you'll ask me about them later. Unless you list psychic powers as a requirement, all this veil of secrecy does is adds to the list of unsuitable CVs for you to sift through each time you advertise a job.
