---
title: "Never Stop Doing"
date: 2013-12-05 12:00:00
---

extends /layouts/_article

block article
  :marked
    You may have noticed I've been releasing a lot of new work recently. Two apps in two months isn't bad going, and I'm pretty pleased with myself.

    The first, <del><a href="http://chatter.li" data-proofer-ignore>Chatter</a></del>(edit: now offline), was a blot out of the blue. I wanted comments on my portfolio, and there wasn't anything out there that would meet my needs. (Disqus, eurgh). Since this site is built with Jekyll, and as such I have no database, I needed something off-site, and I figured there were a lot of other people looking for the same thing, so I built it.

    Then Chatter took off, and I needed to write some docs for it. I started off building static HTML pages and placing them within the apps routing system. It was taking ages, and I wasn't happy with the results, so I started looking for something that could make it easier. There wasn't anything, so I built it. It's called <del><a href="http://docci.co" data-proofer-ignore>Docci</a></del>(edit: now offline).

    Before I started building the apps above, I was really unhappy with my work. It had been a while since I'd done anything other than client work, and as a result I wasn't trying new things. I was coasting. I was growing stale.

    As soon as the idea for Chatter came to me, I started building it, and I remembered why I got into this business in the first place. The thrill of knowing you're making something that people really need is a huge motivator. The same happened with docci. I was invigorated, working late into the night to finish something I was passionate about. My client work immediately improved, and I've got some awesome client projects launching this month which I've really enjoyed working on.

    So now, I'm going to try and see if I can keep it up. I've cut down my hours on client work to just 3 days per week, and I've set myself the challenge of building one app per month, for the whole of 2014. I wrote Chatter in Ruby, and docci in PHP, so to keep the theme going, in each one I'll be building in something I've never done before, to keep myself on the upwards learning curve. I'll be going through Node.js, Python, Angular.js and Perl for building the actual apps, as well as trying out new things like SVG and Canvas elements along the way.

    I've already got a few good ideas for January, but if there's something you'd really like to see built, but haven't got the time or knowledge to do it yourself, please let me know, and it might just happen at some point within the next year.
