---
title:  "They Don't Make 'em Like They Used To..."
date:   2013-11-21 20:41:07
redirectURL: "http://everydaydesigner.net/design/they-dont-make-em-like-they-used-to"
---

extends /layouts/_article

block article
  :marked
    [*Published on Everyday Designer*]({{ page.redirectURL }})
