---
title:  "Don't Call Me Unemployed"
date:   2013-07-21 15:50:29
---

extends /layouts/_article

block article
  :marked
    > Freelancing is not a career choice, it's a state of mind.

    It's been 51 days since I left full time work.

    By most standards, I've been lucky. Having left my old job rather earlier than I expected to, I was lucky enough to find and walk straight into my first freelance job over the course of a weekend.

    Since then, I've been working like crazy, knowing that it's still early days, and wanting to get a little money behind me in preparation for the hard times that are sure to come at some point in the future.

    I'm thoroughly enjoying myself. I enjoy my work, and I find myself being far more productive by working wherever and whenever I have the motivation, rather than in the same place, and between an arbitrary time limit within the day.

    I have no regrets whatsoever about the choice I have made, but there is still one great hurdle which I still have yet to overcome.

    ### My family

    Freelancing is not something that any member of my family other than myself would ever consider doing. I'm the product of a chartered accountant and a 30 year veteran of the civil service. They're 9-5 people. They both have steady jobs, which don't make them all giddy and excited, but instead are a means to an end, which in their case is the payment of a mortgage, bills and the occasional holiday.

    When I first told my mother I was planning on giving up my job, the first words she said were "Don't be so stupid." Even now, when I'm earning good money, she doesn't see that freelancing is a "real job". When I'm working from home, she sees it as a day off. On more than one occasion she has referred to me as unemployed.

    That's not to say that my parents haven't been supportive, far from it. I temporarily moved back into my parents house when I left work, to try and save some money. They've cleared out their dining room, which now serves as my office, and redecorated my old bedroom for me to move into.

    The problem is simply the massive culture gap between those who freelance, and those who baulk at the idea of anything other than a fixed salary. I understand that some people have a need for stability, they have mortgages to pay, families to support. Right now though, I don't have any of those responsibilities, so I'm doing something I love while I have the opportunity and, slowly but surely, proving my doubters wrong.

    Almost all of the freelancers I've met have a *sense of adventure*, myself included, and I think that's an important part of it. If you can't face the idea of living on beans on toast for a month to make the rent when a client pulls out, then perhaps freelancing isn't for you. But for me, the benefits are so good, that I'm willing to take the risk.
