---
title:  "Stroke Your Ego"
date:   2013-02-21 08:00:13
---

extends /layouts/_article

block article
  :marked
    Designers. We're an egotistical bunch. And that's a good thing.

    We love the sound of our own voice, which means we get fantastic speakers sharing their experiences on stage at conferences, and interesting discussions in the bar afterwards.

    We all think we are excellent wordsmiths, so there are countless blogs, magazines and articles waiting to be devoured by our eager counterparts.

    We all have our own techniques and tools, which of course are better than others, so we wax lyrically about them, demonstrating their prowess to all who care to listen.

    We write the cleanest, most readable, most efficient code possible, and minify it, so that those who want to learn from it are enticed by the mystery hidden behind all that missing white space.

    And lastly, when happy accidents occur, we declare that it was all down to following a practiced and perfected design process from which great ideas sprout like roses.

    Without our egos, best practice would not exist, instead being hidden behind a veil of secrecy in the recesses of the minds of those at the head of our industry. Great ideas would go unnoticed. Boundaries would never be pushed. Friendships, collaborations and cooperatives would not have been formed. Amazing new tools would not be used by those who need them.

    So please, don't be ashamed. Stroke your ego. In public, loud and proud. It makes being a designer exciting.
