---
title:  "On the Importance of a Process"
date:   2013-10-02 13:49:47
---

extends /layouts/_article

block article
  :marked
    Many designers have a well thought-out, tried and tested approach to their work. I have one myself, although the simplicity of it may surprise you.

    I *think*.

    I've tried all the brainstorming and productivity tools under the sun. I've tried sketches. I've tried wireframes. I've tried writing out ideas, both in longform and as notes. But actually I've found that the act of recording my ideas is enough to distract me from actually coming up with them in the first place.

    I've worked with some people who come away from an hour-long design meeting with pages and pages of notes. Most times I'm lucky if I come away with more than five lines. It's not because I'm not paying attention, it's because as I'm having the conversation, I'm aligning shapes, colours, fonts and UX ideas in my head, and forming a picture of what I'm going to create. The notes I do take are when I need to remember the exact wording of something; a blog post to link to or the tagline of a site.

    This has been so effective for me, that when I discuss timeframes with a client, I'll always book a job to start 2-3 weeks in the future, even if I've got nothing else on at the time. And during those weeks, I'm thinking about the site. I'll look at competitors and other similiar sites, and pay attention to the things that set them apart. I'm designing the site *in my head*, iterating ideas until I come up with something that I know will make for a great finished product.

    As soon as I have that killer idea, I stop whatever I'm doing, and start building. I mockup in HTML and CSS, and iterate as I go along, rather than trying to come up with the perfect wireframe or sketch prior to starting.

    Too many people get hung up on *their process*. I've been called reckless in my approach, and accused of not planning. But actually, I am planning, I'm just doing it in a way that works for me. And although I'm far from the best designer out there, I'm pleased to say that my clients are usually very impressed with the products I am able to create for them.

    So sod convention, and do what works for you. I'd be interested to hear about your process, and how you go about preparing to begin a build. That's what the comments are there for. *Fire away*.
