---
title:  "In pursuit of Happyness"
date:   2013-06-17 20:07:33
redirectURL: "http://thebran.ch/articles/in-pursuit-of-happyness"
---

extends /layouts/_article

block article
  :marked
    [*Published on The Branch*]({{ page.redirectURL }})
