---
title: Taming the Beast
date: 2014-07-01 12:00:00
---

extends /layouts/_article

block article
  :marked
    ## How to manage working from home with a pregnant woman in the house.

    There's no denying it, pregnant women need a lot of attention. As Gemma and I reach the eve of that magic 37th week, I thought I'd share some tips on how I've managed to avoid and divert some of the nagging over the last 8 and a bit months in order to actually get some work done.

    ####  1. Chocolate

    I'm putting this at the top, as it's by far the most important. Use it generously, and often. Should be evenly split across every room in the house, except the one you're working in. Hopefully it provides enough of a distraction to keep her at bay until you've met that important deadline.

    ####  2. Mess

    A clean office is undoubtedly good for productivity, but some strategically placed 'crap' designed to make your office *look* untidy will serve as a further deterrent as her 'nesting' habits take hold. There seems to be a direct correlation between items on desk and the distance she will stay away.

    ####  3. Alcohol free beer/wine

    After months of sobriety, pregnant women love to *feel* like they are joining in when you are enjoying a cold one on a summer's evening. And luckily for us, the placebo effect also extends to her dozing off on the sofa nice and early, so you can sneak off to your computer for some late-night typography binges.

    ####  4. Walking

    Your pregnant woman will soon get bored of being cooped up all day long, which gives you the perfect opportunity to suggest a nice trip to your favourite coffee house at lunchtime, without any fear of disapproval. A chocolate muffin (or just more chocolate) will ensure more peace and quiet when you get home, and the additional exercise will mean she's less likely to venture from the sofa when she thinks of something else for you to do.

    *This article is entirely tongue in cheek, and was proofread by my amazing girlfriend [Gemma](http://twitter.com/koozai_gemma) prior to posting. Please go on Twitter and let her know what a bloody good job she's doing.*
