@forward 'setup/vars'
@forward 'setup/helpers'
@forward 'setup/reset'
@forward 'setup/typography'
@forward 'setup/layout'
@forward 'setup/a11y'

@forward 'components/button'
@forward 'components/image'
@forward 'components/script-arrow'
@forward 'components/logo'
@forward 'components/header'
@forward 'components/scrollbar'
@forward 'components/case-study-item'
@forward 'components/menu'
@forward 'components/menu-toggle'
@forward 'components/footer'
@forward 'components/contact'
@forward 'components/content-figure'
@forward 'components/image-wall'
@forward 'components/type-sample'
@forward 'components/slideshow'
@forward 'components/synced-scroll'
@forward 'components/webmentions'
@forward 'components/social'
@forward 'components/social-sharing'
// @forward 'components/cookie-banner'

@forward 'pages/home/index'
@forward 'pages/case-study/index'
@forward 'pages/writing'
@forward 'pages/article'
@forward 'pages/error'
@forward 'pages/feed'

@forward 'articles/the-view-from-above'
@forward 'articles/sense-and-sensibility'
@forward 'articles/perpetually-online'
@forward 'articles/lost-at-sea'

.main
  position: relative
  // view-transition-name: main

@view-transition
  navigation: auto

/* Create a custom animation */
@keyframes move-out
  from
    opacity: 1
    transform: translateY(0%)

  to
    opacity: 0
    transform: translateY(-100%)

@keyframes move-in
  from
    opacity: 0
    transform: translateY(100%)

  to
    opacity: 1
    transform: translateY(0%)

/* Apply the custom animation to the old and new page states */
#{'::view-transition-old(root)'}
  animation: 0.5s ease-out both move-out

#{'::view-transition-new(root)'}
  animation: 0.5s ease-out both move-in

