// @keyframes animateButtonUnderline
//   0%
//     transform: translateX(0)
//   49.9%
//     transform: translateX(100%)
//   50%
//     transform: translateX(-100%)
//   100%
//     transform: translateX(0)

// .button
//   +fontSecondary
//   color: $black
//   display: inline-block
//   font-weight: 400
//   overflow: hidden
//   position: relative

//   &, &:hover
//     text-decoration: none

//   &::after
//     background: $red
//     content: ''
//     display: block
//     height: .125em

//   &:hover
//     &::after
//       animation: animateButtonUnderline .5s linear forwards

.button
  display: inline-flex
  font-size: .875em
  font-weight: $fontWeightBold
  position: relative
  text-decoration: none

  &::before
    background: $red
    bottom: 0
    content: ''
    left: -.375em
    position: absolute
    right: calc(100% + .375em)
    top: -.05em
    transition: right .375s
    z-index: -1

  &::after
    content: '→'
    line-height: 1.625em
    margin-left: .75ch
    opacity: 1
    position: relative
    transform: translateX(0)
    transition: opacity .375s, transform .375s

  &:hover
    color: $white

    &::before
      right: -.75em

    &::after
      opacity: 1
      transform: translateX(.375em)
