$baseline: 1.5em

@function between($to, $from, $to-width, $from-width)
  $slope: ($to - $from) / ($to-width - $from-width)
  $base: $from - $slope * $from-width

  @return calc(#{$base} + #{100vw * $slope})

.screenreader-text
  position: absolute
  top: -99999em

html
  font: 300 100% / #{$baseline} $font-stack-primary
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'onum'

body
  +font-primary
  color: $color-almost-black
  font-size: calc(16px + (20 - 16) * (100vw - 384px) / (1280 - 384))
  height: 100%
  line-height: $baseline
  position: relative

h1, h2, h3, h4, h5, h6
  font-weight: 500
  letter-spacing: -.025em

h1
  +font-secondary
  font-size: 3em
  font-weight: 700
  line-height: #{(1 / 1.5) * $baseline}
  margin-bottom: #{(.5 / 1.5) * $baseline}

h2
  +font-secondary
  font-size: 2.25em
  font-weight: 700
  line-height: #{(1.35 / 1.5) * $baseline}
  margin-bottom: #{(.6666666666666667 / 1.5) * $baseline}

h3
  font-size: 1.5em
  line-height: #{(1 / 1.5) * $baseline}
  margin-bottom: #{(1 / 1.5) * $baseline}

h4
  font-size: 1.3125em
  line-height: #{(1.142857142857143 / 1.5) * $baseline}
  margin-bottom: #{(1.142857142857143 / 1.5) * $baseline}

h5
  font-size: 1.125em
  line-height: #{(1.35 / 1.5) * $baseline}
  margin-bottom: #{(1.333333333333333 / 1.5) * $baseline}

h6
  font-size: 1em
  line-height: $baseline
  margin-bottom: $baseline

p
  &.lead
    font-size: 1.5em

p, ul, ol, dl, blockquote
  margin-bottom: $baseline

ul
  list-style: disc inside

ol
  list-style: decimal inside

ul, ol
  ul
    list-style: circle inside
    margin:
      bottom: 0
      left: $baseline

  ol
    list-style: lower-roman inside
    margin:
      bottom: 0
      left: $baseline

em
  font-style: italic

strong
  font-weight: 500

small
  font-size: .75em
  line-height: .5em

hr
  border: solid $color-black
  border-width: 0 0 1px
  height: 0
  margin: calc(#{$baseline * 2} - 1px) auto #{$baseline * 2}

a
  color: $color-blue
  text-decoration: none

  &:hover
    text-decoration: underline
    text-decoration-color: $color-red
    text-decoration-skip: ink

blockquote
  display: inline-block
  +font-secondary
  font:
    style: italic
    weight: 300
  font-feature-settings: 'kern', 'liga', 'clig', 'dlig', 'calt', 'onum'
  margin: 0 0 $baseline

  &.pull
    float: right
    text-align: center

    &::before, &::after
      background: $color-red
      content: ''
      display: inline-block
      height: .125em
      vertical-align: middle
      width: 3em

    @media (min-width: 42em)
      margin: 0 #{($baseline * -3)} $baseline #{($baseline * 1)}
      max-width: #{8 * $baseline}

    @media (min-width: 64em)
      margin: 0 #{($baseline * -5)} $baseline #{$baseline * 1}
      max-width: #{8 * $baseline}

  &.full-width
    +font-secondary
    font-style: normal
    font-weight: 300
    text-align: center

    @media (min-width: 42em)
      margin: 0 #{$baseline * -3} $baseline

    p
      font-size: 2.25em
      line-height: #{(1.35 / 1.5) * $baseline}

      @media (min-width: 42em)
        font-size: 3em
        line-height: #{(1 / 1.5) * $baseline}

  p
    color: $color-blue
    quotes: '“' '”' '‘' '’'

    &::before
      content: open-quote

    &::after
      content: close-quote

    &:last-of-type
      margin: 0

  cite
    display: block
    +font-primary
    font:
      size: .75em
      style: normal
      weight: 600

pre
  background: $color-almost-black
  color: $color-white
  display: block
  margin: 0 0 $baseline
  padding: #{$baseline / 2} $baseline #{$baseline / 1.5}
  width: 100%

  @media (min-width: 42em)
    margin: 0 0 $baseline #{$baseline * -1}
    width: calc(100% + #{($baseline * 1)})

code
  background: $color-gray
  font:
    family: $font-monospace
    size: .75em
  // Line height should be inherited, but for inline code blocks where it isn't, this maintains the baseline
  line-height: 0
  padding: .25em

  pre &
    background: transparent
    padding: 0