.footer
  background: $color-black
  margin: 0 -6em
  overflow: hidden
  padding: 6em
  position: relative

  &--nav
    align-items: center
    display: flex
    justify-content: flex-start
    position: relative
    z-index: 2

    @media (max-width: 42em)
      flex-wrap: wrap

    a
      color: $color-white
      margin-right: $baseline

      &:first-of-type
        line-height: 1em

    &-link-twitter
      @media (max-width: 42em)
        flex: 0 0 100%
        margin-top: $baseline

      @media (min-width: 42em)
        margin-left: auto

      svg
        vertical-align: middle
        width: $baseline

        path
          fill: $color-blue

  &::after
    +script

    bottom: -.25em
    color: darken($color-black, 2.5%)
    content: 'made in southsea'
    font-size: 19vw
    left: 50%
    pointer-events: none
    position: absolute
    text-align: center
    transform: translateX(-38.75%) scaleX(.75) rotate(-2deg)
    white-space: nowrap
    z-index: 1
