$vixen-fitness-yellow: #ffc857
$vixen-fitness-pink: #d398bb
$vixen-fitness-purple: #9f87af
$vixen-fitness-plum: #704155
$vixen-fitness-green: #a3c4bc
$vixen-fitness-white: #fff

.study__section
  &--vixen-fitness
    background: $vixen-fitness-white
    color: $vixen-fitness-plum

    .study__title
      color: $vixen-fitness-pink

    .study__icons
      .logo--frame,
      .octicon--plus polygon,
      .study__icon path
        fill: $vixen-fitness-pink

    .image--slideshow
      > .swiper-container
        .swiper-button-next,
        .swiper-button-prev
          g
            stroke: $vixen-fitness-pink

    .study__feature-list
      li::before
        color: $vixen-fitness-pink

    &.study__section--intro
      background: $vixen-fitness-plum

      .study__intro
        background-color: $vixen-fitness-plum
        background-image: linear-gradient(to bottom, rgba($vixen-fitness-plum, 0) 0%, $vixen-fitness-plum 75%, $vixen-fitness-plum 100%), url('/img/studies/vixen-fitness/bg.png')
        background-position: center
        background-size: cover

      .study__title
        color: $vixen-fitness-yellow

      .study__client
        color: $vixen-fitness-white

      .study__content
        color: $vixen-fitness-white

      .study__link
        background: $vixen-fitness-pink
        border-color: $vixen-fitness-pink
        color: $vixen-fitness-white

      .study__icons
        .logo--frame,
        .octicon--plus polygon,
        .study__icon path
          fill: $vixen-fitness-yellow

      .image--full-width,
      .image--slideshow
        background: $vixen-fitness-plum
        @media (min-width: 42em)
          &::before
            background: linear-gradient(to bottom, rgba($vixen-fitness-plum, 0), $vixen-fitness-plum 66.66%, $vixen-fitness-plum)

          &::after
            background: linear-gradient(to top, rgba($vixen-fitness-plum, 0), $vixen-fitness-plum 66.66%, $vixen-fitness-plum)

        .swiper-button-next,
        .swiper-button-prev
          g
            stroke: $vixen-fitness-yellow

      .image__caption
        @media (min-width: 64em)
          background: $vixen-fitness-plum

          &::before
            background: linear-gradient(to bottom, rgba($vixen-fitness-plum, 0), $vixen-fitness-plum 66.66%, $vixen-fitness-plum)

          &::after
            background: linear-gradient(to top, rgba($vixen-fitness-plum, 0), $vixen-fitness-plum 66.66%, $vixen-fitness-plum)

      blockquote
        p
          color: $vixen-fitness-yellow

      .post__social
        &__link
          svg
            path
              stroke: $color-white

        &__likes
          color: $color-white

.study__type-sample
  &--montserrat
    span
      color: $vixen-fitness-yellow
      font-family: 'Montserrat'
      font-size: 5vw
      font-weight: 700
      line-height: 1em
      text-transform: uppercase

    .study__type-sample__font-name
      color: $vixen-fitness-pink

.study__type-sample
  &--have-heart-one
    span
      color: $vixen-fitness-pink
      font-family: 'Have Heart One'
      font-size: 10vw
      line-height: 1em

    .study__type-sample__font-name
      color: $vixen-fitness-yellow

.studies__item--vixen-fitness
  .studies__image
    svg
      path
        fill: $vixen-fitness-yellow