=cover($offset: 0)
  bottom: $offset
  left: $offset
  position: absolute
  right: $offset
  top: $offset

=hideScrollbars
  -ms-overflow-style: none // IE and Edge
  scrollbar-width: none // Firefox

  &::-webkit-scrollbar
    display: none

=noise
  mask-clip: no-clip
  mask-image: url('/knockout.png')
  mask-position: center
  mask-repeat: repeat
  mask-size: 100%
  mask-mode: alpha

=noiseTransparent
  +noise
  mask-image: url(/knockout-transparent.png)

=gutters
  padding-inline: var(--gutter)

=scrollGutters
  scroll-padding-inline: var(--gutter)

=spacing
  padding-block: var(--spacing)

=unbutton
  appearance: none
  border: 0
  background: none
  color: inherit
  cursor: pointer
  font-family: inherit
  font-size: inherit
  line-height: inherit
  padding: 0

=hoverUnderline($color: currentColor)
  text-decoration: underline transparent
  text-decoration-thickness: 3px
  text-underline-offset: 0
  text-decoration-skip-ink: none
  transition: color .5s ease, text-decoration-color .5s ease, text-underline-offset .5s ease

  &:hover
    text-decoration-color: $color
    text-underline-offset: 5px

=slideshow($axis: x, $align: start, $type: proximity, $snap: normal)
  @if $axis == x
    overflow: auto hidden
  @else
    overflow: hidden auto

  -webkit-overflow-scrolling: touch
  scroll-behavior: smooth

  scrollbar-width: none
  -ms-overflow-style: none

  &::-webkit-scrollbar
    display: none

  scroll-snap-type: $axis mandatory

  @if $align == center
    scroll-padding: 50%

  > *
    scroll-snap-align: $align
    scroll-snap-stop: $snap
