@use 'sass:math'
@use './vars' as *
@use './helpers' as *

html
  font: 300 100% #{'/'} $baseline $font-primary

body
  font-feature-settings: "kern" 1, "liga" 1, "dlig" 1
  font-size: clamp(1em, 2vw, 1.3125em)
  font-variant: common-ligatures discretionary-ligatures
  line-height: $baseline

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smooth: always

h1, h2, h3, h4, h5, h6
  display: block

h2
  font-family: $font-secondary
  font-size: 2.25em
  font-weight: $weight-bold
  letter-spacing: -.05em
  line-height: math.div(1.125, 1.5) * $baseline
  margin-bottom: math.div(.6666666666666667, 1.5) * $baseline

h1
  @extend h2

  @media (min-width: $breakpoint-tablet)
    font-size: 3em
    line-height: math.div(1, 1.5) * $baseline
    margin-bottom: math.div(.5, 1.5) * $baseline

h3
  font-family: $font-secondary
  font-size: 1.5em
  font-weight: $weight-bold
  letter-spacing: -.05em
  line-height: math.div(1, 1.5) * $baseline
  margin-bottom: math.div(1, 1.5) * $baseline

h4
  font-size: 1em
  font-weight: 900
  line-height: $baseline
  margin-bottom: $baseline

h5
  font-size: .75em
  font-weight: $weight-medium
  letter-spacing: .05em
  line-height: math.div($baseline, .875)
  margin-bottom: math.div($baseline, .875)
  text-transform: uppercase

h6
  font-size: 1em
  line-height: $baseline
  margin-bottom: $baseline

p, ul, ol, dl, blockquote
  margin-bottom: $baseline

ul
  list-style: disc inside

ol
  list-style: decimal inside

ul, ol
  ul
    list-style: circle inside
    margin:
      bottom: 0
      left: $baseline

  ol
    list-style: lower-roman inside
    margin:
      bottom: 0
      left: $baseline

em
  font-style: italic

strong
  font-weight: $weight-bold

small
  font-size: .75em
  line-height: .5em

.quote
  line-height: ($baseline * 1.5)
  position: relative

  &::before
    content: '›' / ''
    font-size: 3em
    font-weight: $weight-bold
    line-height: .5em
    margin-right: .25em
    position: absolute
    right: 100%
    top: 0

  p
    color: $red
    font-family: $font-secondary
    font-size: 2.25em
    font-style: italic
    font-weight: $weight-bold
    letter-spacing: -.025em
    margin: 0 0 .22222222em

  cite
    display: inline

  &__footer
    @extend h5
    color: $gray2
    text-align: right

    &::before
      content: '—' / ''
      margin-right: .5ch

    .quote__tweet
      font-size: 1em

.screenreader-text
  position: absolute
  top: -9999vh
  left: 0

.swash
  display: inline-block
  position: relative
  z-index: 0

  &::before
    color: $gray
    content: 'B' / ''
    font-family: $font-swash
    font-size: 2.25em
    font-weight: $weight-normal
    left: 50%
    position: absolute
    top: 100%
    transform: translate(-50%, -95%) rotate(2deg)
    transition: color .5s ease
    z-index: -1

  &[data-character]
    &::before
      content: attr(data-character) / ''

.script
  font-family: $font-tertiary

:root
  --deckgo-highlight-code-font-family: $font-mono
  --deckgo-highlight-code-font-size: .875em

=script
  // +noise
  font-family: $font-tertiary
  letter-spacing: normal
  line-height: .75em
  font-weight: $weight-normal
  margin: 0 auto .125em

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smooth: always

  .swash,
  em
    &::before
      font-size: 1.5em
      transform: translate(-50%, -110%) rotate(2deg)

=scriptTitle
  +script
  font-size: 24vw
  max-width: 3em
  position: relative
  text-align: center
  transform: rotate(-5deg)

  @media (min-width: $breakpoint-tablet)
    font-size: 18vw

blockquote
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  left: 50%
  margin: $gutterMax 0
  position: relative
  text-align: center
  transform: translateX(-50%)
  width: 100%

  @media (min-width: $breakpoint-desktop)
    width: calc(100% + #{$gutterMax * 2})

  p
    +script
    color: $red
    // font-family: $font-secondary
    font-size: 3em
    line-height: .85em
    font-size: clamp(3em, 8vw, 8em)
    margin: 0
    transform: rotate(-2.5deg)
    quotes: '“' '”'
    text-wrap: balance

    &:first-of-type::before
      content: open-quote

    &:last-of-type::after
      content: close-quote

  cite
    font-weight: $weight-medium

    &::before
      background: url('../../images/icons/pencil.svg') center / contain no-repeat
      content: ''
      display: inline-block
      height: $baseline
      margin-right: .5ch
      vertical-align: middle
      width: $baseline

%lead
  font-family: $font-secondary
  font-size: 1.25em
  line-height: 1.2em
  margin: 0 0 1.2em

%contentLink
  +hoverUnderline($red)
  background: none
  border: 0
  color: inherit
  font-family: $font-primary
  font-variant: small-caps
  font-weight: $weight-medium
  padding: 0
  text-transform: lowercase

.content
  a
    @extend %contentLink

section:first-of-type
  .content
    > p:first-of-type
      @extend %lead

code
  font-family: $font-mono

.line-break
  border: 0 solid currentColor
  border-width: 0 0 1px
  color: inherit
  display: block
  height: 0
  max-width: calc($contentWidth - $gutterMax)
  margin: calc(var(--spacing) * 1.5) auto
  opacity: .2
  position: relative

  .logo
    background: var(--background)
    content: ''
    display: flex
    left: 50%
    padding: 1em
    position: absolute
    top: 50%
    transform: translate(-50%, -50%) scale(.75)
    white-space: nowrap
    width: auto

del
  text-decoration: none
  position: relative

  &::after
    font-family: $font-swash
    color: $red
    content: 'C' / ''
    font-size: 2em
    left: 50%
    position: absolute
    speak: none
    top: 50%
    transform: translate(-50%, -75%)

ins
  +script
  color: $red
  display: inline-block
  font-size: 1.4em
  margin-left: -.5ch
  position: relative
  text-decoration: none
  transform: translate(-1rem, -65%) rotate(-2deg)
  width: 0

  &::after
    content: 'v' / ''
    font-size: 1em
    position: absolute
    left: 0.75rem
    speak: never
    top: 110%
    transform: rotate(180deg)
