.nav-toggle
  align-items: center
  background: $color-white
  border-radius: .5em
  display: flex
  height: 2em
  justify-content: center
  position: fixed
  right: 1.5em
  top: 1.5em
  transition: background .25s
  width: 2em
  z-index: 1000

  @media (min-width: 42em)
    right: between(1.5em, 6em, 42em, 80em)
    top: between(1.5em, 6em, 42em, 80em)

  @media (min-width: 80em)
    right: 6em
    top: 6em

  svg
    height: 1.75em
    width: 1.75em

    circle
      fill: $color-almost-black
      transition: fill .25s

  &:hover
    svg
      circle
        fill: $color-red

  .page--home &,
  .page--error &,
  .nav:target + .header &,
  .nav.nav--open + .header &
    svg
      circle
        fill: $color-white

  .nav:target + .header &,
  .nav.nav--open + .header &
    z-index: 10000

  .page--home &,
  .page--error &
    background: $color-black

    &:hover
      svg
        circle
          fill: $color-red

  .nav:target + .header &,
  .nav.nav--open + .header &
    background: $color-black

    &:hover
      svg
        circle
          fill: $color-red

.nav
  @extend %script-background
  background: $color-black
  bottom: 0
  left: 0
  padding: 6em 1.5em
  position: fixed
  opacity: 0
  overflow: hidden
  pointer-events: none
  right: 0
  top: 0
  transition: opacity .5s
  z-index: 9999

  @media (min-width: 42em)
    padding: 6em between(1.5em, 6em, 42em, 80em)

  @media (min-width: 80em)
    padding: 6em

  &:target,
  &--open
    opacity: 1
    pointer-events: initial
    z-index: 9999

  &__menu
    display: flex
    flex-wrap: wrap
    list-style: none

  &__item
    flex: 0 0 100%
    margin: 0 0 #{$baseline / 2}
    opacity: 0
    order: 1
    position: relative
    transition: opacity .375s .5s, transform .375s .5s
    transform: translateY(50%)

    @media (min-width: 42em)
      flex: 0 0 50%

    &--home
      flex: 0 0 100%
      margin: 0 0 #{$baseline * 4}
      order: 0

    .nav--open &
      opacity: 1
      transform: translateY(0)

      @for $i from 1 through 6
        &:nth-child(#{$i})
          transition: opacity .375s #{$i * .075s}, transform .375s #{$i * .075s}

    @media (min-width: 42em)
      &--case-studies,
      &--writing
        order: 0

  &__link
    @extend h1
    color: $color-white
    transition: color .25s

    &:hover
      color: $color-red
      text-decoration: none