.nav
  background: $red
  bottom: 0
  left: 0
  opacity: 0
  overflow: hidden
  padding: 3em 1.5em
  pointer-events: none
  position: fixed
  right: 0
  top: 0
  transition: opacity .375s
  z-index: 10000

  @media (min-width: 42em)
    padding: between(3em, 4.5em, 42em, 80em) between(1.5em, 4.5em, 42em, 80em)

  @media (min-width: 80em)
    padding: 4.5em

  &::after
    color: lighten($red, 5%)

  &:target,
  &.nav--open
    opacity: 1
    pointer-events: initial
    transition: opacity .375s
    z-index: 9999

  &__menu
    align-items: center
    display: flex
    flex-direction: column
    left: 50%
    list-style: none
    overflow-x: hidden
    overflow-y: auto
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: 100vw
    z-index: 0

  &__item
    display: inline-block
    margin: 0 0 #{$baseline / 2}
    opacity: 0
    position: relative
    text-align: center
    transform: translateY(50%)
    transition: opacity .375s .5s, transform .375s .5s

    .nav--open &
      opacity: 1
      transform: translateY(0)

      @for $i from 1 through 6
        &:nth-child(#{$i})
          transition: opacity .25s #{.375s + ($i * .075s)}, transform .25s #{.375s + ($i * .075s)}

  &__link
    +fontScript
    color: $white
    display: inline-block
    font-size: 4.5em
    font-weight: $fontWeightNormal
    line-height: 1em
    text-decoration: none
    text-transform: lowercase
    transform: rotate(-2deg)
    transition: color .5s

    @media (min-height: 64em)
      font-size: 6em

    &:hover,
    &:focus
      color: $black
      text-decoration: none

  &__close
    display: block
    right: 1.5em

    @media (min-width: 42em)
      right: between(1.5em, 4.5em, 42em, 80em)

    @media (min-width: 80em)
      right: 4.5em

    svg
      display: block
      height: 1.75em
      width: 1.75em

      g
        transition: stroke .5s

    &:hover
      g
        stroke: $black

  &__home
    display: inline-block
    left: 1.5em
    width: auto

    @media (min-width: 42em)
      left: between(1.5em, 4.5em, 42em, 80em)

    @media (min-width: 80em)
      left: 4.5em

  &__home,
  &__close
    position: absolute
    top: 3em
    z-index: 1

    @media (min-width: 42em)
      right: between(1.5em, 4.5em, 42em, 80em)
      top: between(3em, 6em, 42em, 80em)

    @media (min-width: 80em)
      right: 4.5em
      top: 6em
