@use '../../setup/vars' as *
@use '../../setup/helpers' as *
@use '../../setup/typography' as *

.hero
  align-items: stretch
  display: grid
  grid-template-columns: 100%
  position: relative
  z-index: -1

  @media (min-width: $breakpoint-desktop)
    grid-template-columns: 45% 55%

  &__detail
    padding: $baseline

  &__content
    background: $red
    color: $white

    &-inner
      +gutters
      +spacing
      align-items: stretch
      display: flex
      flex-direction: column
      height: 100svh
      justify-content: flex-end
      position: sticky
      top: 0

      @media (min-width: $breakpoint-container)
        padding-right: $gutterMax

  &__title
    +script
    color: $gray
    font-size: clamp(4.5em, 7vw, 18em)
    font-weight: normal
    margin: 0 0 .25em
    max-width: none
    text-align: left

    .swash
      &::before
        color: $red2

  &__text,
  &__list
    max-width: 43em

  &__text
    p
      @extend %lead

    a
      color: inherit

    svg,
    img
      color: inherit
      display: inline
      height: 1em
      width: auto

      path
        fill: currentColor

    svg
      margin-bottom: -.125em

    img
      margin-bottom: -.25em

  &__list
    align-items: flex-start
    display: flex
    flex-wrap: wrap
    gap: $baseline ($baseline * 2)
    justify-content: space-between

  &__item
    flex: 0 0 100%
    list-style: none

    @media (min-width: $breakpoint-desktop)
      flex: 0 0 calc(50% - #{$baseline})

    &-link
      color: $red
      text-decoration: none

    &-title
      margin: .25em 0

    &-text
      margin: 0

  &__studies
    display: grid
    gap: $baseline
    grid-template-columns: repeat(2, calc(50% - #{$baseline * .5}))
    list-style: none
    margin: 0
    transition: opacity 1s ease

    &:has(> :first-child:last-child)
      opacity: 0

    @media (max-width: $breakpoint-tablet)
      padding-bottom: ($baseline * 2)

      .case-study-item__content,
      .case-study-item__inner,
      .case-study-cta
        padding: ($baseline * .5) !important

      .case-study-item,
      .case-study-cta
        &:nth-child(2n)
          transform: translateY($baseline * 2)

    @media (max-width: $breakpoint-desktop)
      padding-bottom: ($baseline * 4)

      .case-study-item,
      .case-study-cta
        &:nth-child(2n)
          transform: translateY($baseline * 4)

    .logo
      transform: scale(.75)
      transform-origin: top left

      @media (min-width: $breakpoint-largeMobile)
        transform: none

    .case-study-item__title
      font-size: calc(17vw * var(--fontSizeMultiplier))

      @media (min-width: $breakpoint-largeMobile)
        font-size: calc(20vw * var(--fontSizeMultiplier))

      @media (min-width: $breakpoint-desktop)
        font-size: calc(11vw * var(--fontSizeMultiplier))

    .case-study-item__meta
      font-size: .875em

      @media (min-width: $breakpoint-largeMobile)
        font-size: 1em

    .case-study-cta__title
      font-size: 1.4em

      @media (min-width: $breakpoint-largeMobile)
        font-size: 2em
