.hero
  +gutters
  color: $red
  padding-block: calc(var(--gutter) * 2) var(--gutter)

  &__title
    +scriptTitle
    margin: 0
    max-width: 5em
    text-align: left

    @media (min-width: 1px)
      font-size: 15vw
