$code-background: rgb(40, 42, 54)
$code-comment: #979cac
$code-string: #e7ee98

.open-source
  background: $black
  color: $white

  &__projects
    +gutters
    +scrollGutters
    +slideshow
    align-items: stretch
    display: flex
    gap: $baseline
    left: 50%
    padding-top: $baseline
    position: relative
    transform: translateX(-50%)
    width: 100vw

    &:has(.scrollbar:active)
      .menu__studies-list
        scroll-behavior: smooth
        scroll-snap-type: none
        transition: none

  .loading-spinner
    color: $code-comment

  &__project
    background: $code-background
    display: flex
    flex: 0 0 28em
    flex-direction: column
    max-width: calc(100vw - (var(--gutter) * 3))
    padding: $baseline
    position: relative

    @media (max-width: $breakpoint-largeMobile)
      font-size: .875em
      padding: 1em

    pre
      background: transparent !important
      flex: 1 1
      font-size: .75em
      line-height: 1.5em
      padding: 0 !important

      span[style="color: rgb(101, 115, 126);"],
      span[style="color:#7B7F8B"]
        color: $code-comment !important
        font-style: italic

      &.open-source__project-intro
        color: $code-comment
        flex: 0 0 auto
        font-family: $font-mono
        font-style: italic
        height: auto

        a
          color: $code-string
          font-style: normal
          text-decoration: underline
          transition: color .5s ease

          &:hover
            color: $white

          svg
            display: inline-block
            height: 1em
            width: 1em

  &__logo
    display: block
    height: $baseline
    position: absolute
    right: $baseline
    top: $baseline
    width: $baseline

    svg
      height: 100%
      width: 100%

  &__footer
    align-items: center
    display: flex
    flex-wrap: wrap
    gap: var(--gutter)
    padding-top: $baseline

    @media (min-width: $breakpoint-tablet)
      align-items: center
      display: flex
      flex-wrap: nowrap
      justify-content: space-between

  &__scrollbar
    flex: 1 1
