.homepage-section
  +gutters
  padding-bottom: $gutterMax

  &__text,
  &__list
    max-width: 43em

  &__text
    p
      @extend %lead

    svg
      display: inline
      height: 1em
      margin-bottom: -.125em
      width: auto

  &__list
    align-items: flex-start
    display: flex
    flex-wrap: wrap
    gap: $baseline ($baseline * 2)
    justify-content: space-between

  &__item
    flex: 0 0 100%
    list-style: none

    @media (min-width: $breakpoint-desktop)
      flex: 0 0 calc(50% - #{$baseline})

    &-link
      color: $red
      text-decoration: none

    &-title
      margin: .25em 0

    &-text
      margin: 0

  .menu__studies-list
    align-items: stretch
    height: 40em
    overflow-x: auto
